<?xml version="1.0" encoding="utf-8" ?>
<dotnetnuke version="3.0" type="Module">
	<folders>
		<folder>
			<name>SimpleGallery</name>
  		<friendlyname>Simple Gallery</friendlyname>
  		<foldername>SimpleGallery</foldername>
  		<modulename>SimpleGallery</modulename>
			<description>Allows you to upload and display photos.</description>
			<version>02.04.20</version>
			<businesscontrollerclass>Ventrian.SimpleGallery.Entities.PhotoController, Ventrian.SimpleGallery</businesscontrollerclass>
			<resourcefile>Resources.zip</resourcefile>
			<modules>
				<module>
					<friendlyname>SimpleGallery</friendlyname>
					<controls>
						<control>
							<src>Gallery.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Add</key>
							<title>Add New Photo</title>
							<src>AddPhoto.ascx</src>
							<type>View</type>
							<supportspartialrendering>false</supportspartialrendering>
						</control>
						<control>
							<key>Approve</key>
							<title>Approve Photos</title>
							<src>Approve.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>BulkEdit</key>
							<title>Bulk Edit</title>
							<src>BulkEdit.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Edit</key>
							<title>Edit Photo</title>
							<src>EditPhoto.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>EditAlbum</key>
							<title>Edit Album</title>
							<src>EditAlbum.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>EditAlbums</key>
							<title>Edit Albums</title>
							<src>EditAlbums.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>EditTag</key>
							<title>Edit Tag</title>
							<src>EditTag.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>EditTags</key>
							<title>Edit Tags</title>
							<src>EditTags.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>EditTemplates</key>
							<title>Edit Templates</title>
							<src>EditTemplate.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>SlideShow</key>
							<title>Slide Show</title>
							<src>SlideShow.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>SortOrder</key>
							<title>Edit Sort Order</title>
							<src>EditSortOrder.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>Settings</key>
							<title>View Options</title>
							<src>ViewOptions.ascx</src>
							<type>Edit</type>
							<supportspartialrendering>false</supportspartialrendering>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>Module.css</name>
				</file>
				<file>
					<name>AddPhoto.ascx</name>
				</file>
				<file>
					<name>Approve.ascx</name>
				</file>
        <file>
          <name>BulkEdit.ascx</name>
        </file>
        <file>
          <name>DownloadPhoto.ashx</name>
        </file>
				<file>
					<name>EditAlbum.ascx</name>
				</file>
				<file>
					<name>EditAlbums.ascx</name>
				</file>
				<file>
					<name>EditSortOrder.ascx</name>
				</file>
				<file>
					<name>EditPhoto.ascx</name>
				</file>
				<file>
					<name>EditTag.ascx</name>
				</file>
				<file>
					<name>EditTags.ascx</name>
				</file>
				<file>
					<name>EditTemplate.ascx</name>
				</file>
				<file>
					<name>Gallery.ascx</name>
				</file>
        <file>
          <name>ImageHandler.ashx</name>
        </file>
        <file>
          <name>ImageHandlerLarge.ashx</name>
        </file>
				<file>
					<name>RSS.aspx</name>
				</file>
				<file>
					<name>RSS.xsl</name>
				</file>
        <file>
          <name>SearchBox.ascx</name>
        </file>
				<file>
					<name>SlideShow.ascx</name>
				</file>
				<file>
					<name>SlideShowPopup.aspx</name>
				</file>
				<file>
					<name>Tags.ascx</name>
				</file>
				<file>
					<name>Uploader.aspx</name>
				</file>
				<file>
					<name>ViewGallery.ascx</name>
				</file>
        <file>
          <name>ViewOptions.ascx</name>
        </file>
        <file>
          <name>ViewSearch.ascx</name>
        </file>
        <file>
          <name>ViewTag.ascx</name>
        </file>
        <file>
          <name>ZipAlbum.ascx</name>
        </file>
				<file>
					<name>web.config</name>
				</file>
				<file>
					<name>Ventrian.SimpleGallery.dll</name>
				</file>
				<file>
					<name>Ventrian.SimpleGallery.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>01.00.00.SqlDataProvider</name>
				</file>
				<file>
					<name>01.02.00.SqlDataProvider</name>
				</file>
				<file>
					<name>01.05.00.SqlDataProvider</name>
				</file>
				<file>
					<name>01.05.01.SqlDataProvider</name>
				</file>
				<file>
					<name>01.06.00.SqlDataProvider</name>
				</file>
				<file>
					<name>01.06.01.SqlDataProvider</name>
				</file>
				<file>
					<name>01.06.02.SqlDataProvider</name>
				</file>
				<file>
					<name>01.07.00.SqlDataProvider</name>
				</file>
				<file>
					<name>01.08.00.SqlDataProvider</name>
				</file>
				<file>
					<name>01.08.01.SqlDataProvider</name>
				</file>
				<file>
					<name>01.08.02.SqlDataProvider</name>
				</file>
				<file>
					<name>01.08.03.SqlDataProvider</name>
				</file>
				<file>
					<name>01.08.04.SqlDataProvider</name>
				</file>
				<file>
					<name>01.09.01.SqlDataProvider</name>
				</file>
				<file>
					<name>01.09.02.SqlDataProvider</name>
				</file>
				<file>
					<name>01.09.03.SqlDataProvider</name>
				</file>
				<file>
					<name>01.09.04.SqlDataProvider</name>
				</file>
				<file>
					<name>01.09.05.SqlDataProvider</name>
				</file>
				<file>
					<name>02.00.00.SqlDataProvider</name>
				</file>
				<file>
					<name>02.01.02.SqlDataProvider</name>
				</file>
				<file>
					<name>02.01.05.SqlDataProvider</name>
				</file>
				<file>
					<name>02.02.00.SqlDataProvider</name>
				</file>
				<file>
					<name>02.02.06.SqlDataProvider</name>
				</file>
				<file>
					<name>02.03.00.SqlDataProvider</name>
				</file>
				<file>
					<name>02.03.01.SqlDataProvider</name>
				</file>
        <file>
          <name>02.03.03.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.05.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.08.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.10.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.11.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.12.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.14.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.15.SqlDataProvider</name>
        </file>
        <file>
          <name>02.03.17.SqlDataProvider</name>
        </file>
        <file>
          <name>02.04.00.SqlDataProvider</name>
        </file>
        <file>
          <name>02.04.05.SqlDataProvider</name>
        </file>
        <file>
          <name>02.04.06.SqlDataProvider</name>
        </file>
        <file>
          <name>02.04.14.SqlDataProvider</name>
        </file>
				<file>
					<name>uninstall.SqlDataProvider</name>
				</file>
			</files>
		</folder>
		<folder>
			<name>SimpleGallery Random</name>
  		<friendlyname>Simple Gallery Latest</friendlyname>
  		<foldername>SimpleGallery Random</foldername>
  		<modulename>SimpleGallery Random</modulename>
			<description>Displays a random photo from select albums.</description>
			<version>02.04.20</version>
			<businesscontrollerclass>Ventrian.SimpleGallery.Entities.TagController, Ventrian.SimpleGallery</businesscontrollerclass>
			<resourcefile>ResourcesRandom.zip</resourcefile>
			<modules>
				<module>
					<friendlyname>SimpleGallery Random</friendlyname>
					<controls>
						<control>
							<src>RandomPhoto.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Settings</key>
							<title>Random Photo Options</title>
							<src>RandomPhotoOptions.ascx</src>
							<type>Edit</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>ImageHandler.ashx</name>
				</file>
				<file>
					<name>module.css</name>
				</file>
				<file>
					<name>RandomPhoto.ascx</name>
				</file>
				<file>
					<name>RandomPhotoOptions.ascx</name>
				</file>
			</files>
		</folder>
    <folder>
      <name>SimpleGallery Search</name>
      <friendlyname>Simple Gallery Search</friendlyname>
      <foldername>SimpleGallery Search</foldername>
      <modulename>SimpleGallery Search</modulename>
      <description>Displays a search form for Simple Gallery.</description>
      <version>02.04.20</version>
      <businesscontrollerclass>Ventrian.SimpleGallery.Entities.TagController, Ventrian.SimpleGallery</businesscontrollerclass>
      <resourcefile>ResourcesSearch.zip</resourcefile>
      <modules>
        <module>
          <friendlyname>SimpleGallery Search</friendlyname>
          <controls>
            <control>
              <src>Search.ascx</src>
              <type>View</type>
            </control>
            <control>
              <key>Settings</key>
              <title>Search Options</title>
              <src>SearchOptions.ascx</src>
              <type>Edit</type>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>module.css</name>
        </file>
        <file>
          <name>Search.ascx</name>
        </file>
        <file>
          <name>SearchOptions.ascx</name>
        </file>
      </files>
    </folder>
		<folder>
			<name>SimpleGallery Tag Cloud</name>
  		<friendlyname>Simple Gallery Tag Cloud</friendlyname>
  		<foldername>SimpleGallery Tag Cloud</foldername>
  		<modulename>SimpleGallery Tag Cloud</modulename>
			<description>Displays a tag cloud from select albums.</description>
			<version>02.04.20</version>
			<businesscontrollerclass>Ventrian.SimpleGallery.Entities.TagController, Ventrian.SimpleGallery</businesscontrollerclass>
			<resourcefile>ResourcesTagCloud.zip</resourcefile>
			<modules>
				<module>
					<friendlyname>SimpleGallery Tag Cloud</friendlyname>
					<controls>
						<control>
							<src>TagCloud.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Settings</key>
							<title>Tag Cloud Options</title>
							<src>TagCloudOptions.ascx</src>
							<type>Edit</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>module.css</name>
				</file>
				<file>
					<name>TagCloud.ascx</name>
				</file>
				<file>
					<name>TagCloudOptions.ascx</name>
				</file>
			</files>
		</folder>
	</folders>
</dotnetnuke>
